ul,ol{list-style: none;}
*{margin: 0;padding: 0;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#xxx{
  background: linear-gradient(to bottom, rgba(252,237,250,1) 0%,rgba(252,179,230,1) 100%);
  display: block;
}


#download{
  position: fixed;
  top: 22px;
  right: 10px;
  margin: 0 5px;
}



body{
  margin: 0px;
  overflow: hidden;
}

html{
}

.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.actions svg{
  width:1.5em;
  height: 1.5em;
  margin: 0 5px;
  transition: all 0.3s;/*过度效果*/
}

.actions svg.active{
  fill: red;
  transform: scale(1.5);/*变成以前的1.2倍*/
}

.colors{
  position: fixed;
  top: 60px;
  left: 3px;
}

.colors li{
  border: 0.5px solid grey;
  width: 25px;
  height: 25px;
  margin: 18px 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
  border-radius: 50px;
  transition: all 0.3s;
}

.colors li.active{
  transform: scale(1.5);
}

.colors .black{
  background: black;
}

.colors .red{
  background: red;
}

.colors .orange{
  background: orange;
}

.colors .yellow{
  background: yellow;
}

.colors .green{
  background: green;
}

.colors .blue{
  background: blue;
}

.colors .indigo{
  background: indigo;
}

.colors .purple{
  background: purple;
}

#black .black active{
  background: black;
  width: 40px;
  height: 40px;
}

#red .active{
  background: red;
  width: 40px;
  height: 40px;
}

#orange .active{
  background: orange;
  width: 40px;
  height: 40px;
}

#yellow .active{
  background: yellow;
  width: 40px;
  height: 40px;
}

#green .active{
  background: green;
  width: 40px;
  height: 40px;
}

#blue .active{
  background: blue;
  width: 40px;
  height: 40px;
}

#indigo .active{
  background: indigo;
  width: 40px;
  height: 40px;
}

#purple .active{
  background: purple;
  width: 40px;
  height: 40px;
}

.sizes{
  position: fixed;
  right: 10px;
  bottom:10px;
  transition: all 0.3s;
}

.sizes > li{
  padding: 15px;
}

.sizes > .thin{
  height: 0;
  width: 20px;
  border-top: 3px solid black;
}

.sizes > .middle{
  height: 0;
  width: 20px;
  border-top: 5px solid black;
}

.sizes > .thick{
  height: 0;
  width: 20px;
  border-top: 8px solid black;
}

